:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* Plyr Css */
.plyr__poster {
  background-color: #000;
  background-color: var(
    --plyr-video-background,
    var(--plyr-video-background, #000)
  );
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.2s ease;
  width: 100%;
  z-index: 1;
}
.plyr--video {
  width: 900px;
}

.plyr--video {
  border-radius: 15px;
}
.plyr--video {
  overflow: visible;
}
